// main.styl

@require '~vuetify/src/stylus/settings/_variables'

$header-font-family = 'Lato',  san-serif !important 
$heading-font-family = 'Lato',  san-serif !important
$body-font-family = 'Lato',  san-serif !important
$headings.h1.font-family = 'Lato',  san-serif !important
$headings.h2.font-family = 'Lato',  san-serif !important
$headings.h3.font-family = 'Lato',  san-serif !important
$headings.h4.font-family = 'Lato',  san-serif !important
$headings.h5.font-family = 'Lato',  san-serif !important
$headings.h6.font-family = 'Lato',  san-serif !important

@require '~vuetify/src/stylus/main'